@{
    ViewData["Title"] = "Home Page";
}
@model WebAppNetCore.Models.Account


<div class="text-center">
    <h1 class="display-4">Register Account</h1>

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Save">
        <table>
            <tr>
                <td>First Name: </td>
                <td><input asp-for="FirstName" /></td>
                <td>
                    <span asp-validation-for="FirstName"></span>
                </td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input asp-for="LastName" /></td>
                <td>
                    <span asp-validation-for="LastName"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</div>
